<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NDF. - Contact</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/stylesheets/swup.css">
    <link rel="stylesheet" href="/stylesheets/contact.css">
</head>
<body>
    <div class="transition-overlap"></div>
    <div id="menu" style="height:100vh;left: 100%;">
        <a class="link" id="crack" href="/" data-cursor="-lg">HOME</a>
        <a class="link" href="/gallery" data-cursor="-lg">GALLERY</a>
        <a class="link" href="/about" data-cursor="-lg">NIKHIL</a>
        <a class="link" href="/contact" data-cursor="-lg">GET IN TOUCH</a>
      </div>
    <div id="nav">
        <div id="navleft">
          <a href="/"><svg width="187" height="70" viewBox="0 0 187 70" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M0.76 68V0.139999H18.4L50.71 41.63H50.89V0.139999H68.53V68H50.89L18.58 26.42H18.4V68H0.76ZM73.7373 68V0.139999H98.7573C108.237 0.199998 116.337 3.5 123.057 10.04C129.837 16.58 133.227 24.62 133.227 34.16C133.227 43.7 129.837 51.74 123.057 58.28C116.277 64.76 108.177 68 98.7573 68H73.7373ZM91.3773 15.08V53.06H95.3373C100.617 53.12 105.177 51.65 109.017 48.65C112.917 45.59 114.867 40.76 114.867 34.16C114.867 28.1 113.067 23.42 109.467 20.12C105.867 16.82 101.217 15.17 95.5173 15.17L91.3773 15.08ZM174.083 15.08H152.753V26.42H172.103V41.36H152.753V68H135.113V0.139999H174.083V15.08ZM175.711 48.74C178.651 48.8 181.141 49.85 183.181 51.89C185.221 53.93 186.241 56.42 186.241 59.36C186.241 62.24 185.221 64.7 183.181 66.74C181.141 68.78 178.651 69.8 175.711 69.8C172.771 69.8 170.281 68.78 168.241 66.74C166.201 64.7 165.181 62.24 165.181 59.36C165.181 56.42 166.201 53.93 168.241 51.89C170.281 49.85 172.771 48.83 175.711 48.83V48.74Z"
                fill="#e5e5e5" />
            </svg>
          </a>
        </div>
        <div id="navright" data-magnetic data-cursor="-md">
          <span id="menubtn" data-cursor-stick="#navright" class="material-symbols-outlined">
            menu
          </span>
        </div>
      </div>
    <div id="main" class="transition-fade">
        <div id="page1">
            <div id="pageheading">
                <h1 class="my-text">SAY HI</h1>
                <h1 class="my-text2">TO</h1>
                <h1 class="my-text3">NIKHIL</h1>
            </div>
            <div id="circular-scroll">
                <div id="scroll"><h3>SCROLL</h3><span class="material-symbols-outlined">
                  south
                </span></div>
              </div>
        </div>
        <div id="page2">
            <div class="whitespace">
                <span></span>
                <h4>LETS SHOOT!</h4>
            </div>
            <div id="first">
                <h1 class="cheading">HELLO,</h1>
            </div>
            <div id="second">
                <h1 class="cheading">MY NAME IS</h1>
                <input type="text" autocomplete="off" name="name" class="no-autofill-bkg" id="name" required placeholder="Enter your name here">
            </div>
            <div id="third">
                <h1 class="cheading">HERE IS MY MAIL</h1>
                <input type="email" autocomplete="off" name="email" class="no-autofill-bkg" id="email" placeholder="Enter your mail here">
            </div>
            <div id="fourth">
                <h1 class="cheading">I'M LOOKING FOR</h1>
                <textarea name="message"  class="no-autofill-bkg"  id="message" cols="30" rows="5" placeholder="Enter shoot details here"></textarea>
            </div>
            <div id="submit">
                <button id="submitbtn"  onclick="sendMail()">SUBMIT</button>
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="icons">
          <a href="">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="white" xmlns="http://www.w3.org/2000/svg">
            <path d="M47.79 23.548C47.4951 22.7841 47.0434 22.0905 46.4641 21.5118C45.8848 20.9331 45.1907 20.4822 44.4265 20.1881C43.3743 19.7983 42.2629 19.5924 41.1409 19.5791C39.275 19.4941 38.7156 19.4729 33.989 19.4729C29.2624 19.4729 28.703 19.4941 26.8372 19.5791C25.714 19.5919 24.6014 19.7979 23.548 20.1881C22.7842 20.483 22.0905 20.9347 21.5118 21.514C20.9331 22.0933 20.4822 22.7874 20.1881 23.5516C19.7984 24.6038 19.5924 25.7152 19.5791 26.8372C19.4941 28.703 19.4729 29.2624 19.4729 33.989C19.4729 38.7156 19.4941 39.275 19.5791 41.1409C19.592 42.2641 19.798 43.3767 20.1881 44.43C20.483 45.1939 20.9347 45.8875 21.514 46.4662C22.0933 47.0449 22.7874 47.4959 23.5516 47.79C24.6038 48.1797 25.7152 48.3857 26.8372 48.399C28.703 48.4839 29.2624 48.5016 33.989 48.5016C38.7156 48.5016 39.275 48.4839 41.1409 48.3954C42.2639 48.3837 43.3765 48.1789 44.43 47.79C45.1939 47.495 45.8875 47.0434 46.4662 46.4641C47.0449 45.8848 47.4959 45.1907 47.79 44.4265C48.1797 43.3743 48.3857 42.2629 48.399 41.1409C48.4839 39.275 48.5016 38.7156 48.5016 33.989C48.5016 29.2624 48.4839 28.703 48.3954 26.8372C48.3837 25.7142 48.1789 24.6016 47.79 23.548ZM33.989 43.0811C32.1908 43.0811 30.4329 42.5478 28.9378 41.5488C27.4426 40.5498 26.2772 39.1298 25.5891 37.4684C24.9009 35.807 24.7209 33.9789 25.0717 32.2152C25.4225 30.4516 26.2884 28.8315 27.56 27.56C28.8315 26.2884 30.4516 25.4225 32.2153 25.0717C33.979 24.7208 35.8071 24.9009 37.4684 25.5891C39.1298 26.2772 40.5498 27.4426 41.5488 28.9377C42.5479 30.4329 43.0811 32.1908 43.0811 33.989C43.0811 36.4004 42.1232 38.713 40.4181 40.4181C38.713 42.1232 36.4004 43.0811 33.989 43.0811ZM43.4387 26.6637C43.0185 26.6637 42.6078 26.5391 42.2585 26.3057C41.9091 26.0722 41.6369 25.7405 41.4761 25.3523C41.3153 24.9641 41.2732 24.537 41.3552 24.1249C41.4372 23.7129 41.6395 23.3343 41.9366 23.0373C42.2337 22.7402 42.6122 22.5378 43.0243 22.4559C43.4363 22.3739 43.8635 22.416 44.2516 22.5768C44.6398 22.7375 44.9716 23.0098 45.205 23.3592C45.4384 23.7085 45.563 24.1192 45.563 24.5394C45.563 25.1028 45.3392 25.6431 44.9408 26.0415C44.5424 26.4399 44.0021 26.6637 43.4387 26.6637ZM39.8911 33.989C39.8911 35.1563 39.5449 36.2974 38.8964 37.268C38.2479 38.2386 37.3261 38.9951 36.2477 39.4418C35.1692 39.8885 33.9825 40.0054 32.8376 39.7777C31.6927 39.5499 30.6411 38.9878 29.8157 38.1624C28.9902 37.337 28.4281 36.2853 28.2004 35.1405C27.9727 33.9956 28.0895 32.8089 28.5363 31.7304C28.983 30.6519 29.7394 29.7302 30.71 29.0816C31.6806 28.4331 32.8217 28.087 33.989 28.087C35.5544 28.087 37.0556 28.7088 38.1624 29.8156C39.2693 30.9225 39.8911 32.4237 39.8911 33.989ZM33.989 0C27.2666 0 20.6952 1.99342 15.1057 5.72818C9.51628 9.46294 5.15982 14.7713 2.58728 20.982C0.0147268 27.1927 -0.658369 34.0267 0.653105 40.62C1.96458 47.2132 5.20172 53.2694 9.95517 58.0229C14.7086 62.7763 20.7649 66.0135 27.3581 67.325C33.9513 68.6364 40.7854 67.9633 46.9961 65.3908C53.2068 62.8182 58.5151 58.4618 62.2499 52.8723C65.9846 47.2828 67.9781 40.7114 67.9781 33.989C67.9781 24.9746 64.3971 16.3293 58.0229 9.95515C51.6487 3.58098 43.0035 0 33.989 0ZM51.5854 41.286C51.5555 42.7551 51.2765 44.2085 50.7605 45.5842C50.3058 46.76 49.6105 47.8277 48.7191 48.7191C47.8278 49.6105 46.76 50.3058 45.5843 50.7605C44.2096 51.2761 42.7575 51.555 41.2896 51.5854C39.399 51.6704 38.7971 51.6916 33.989 51.6916C29.181 51.6916 28.5791 51.6704 26.6885 51.5854C25.2206 51.555 23.7685 51.2761 22.3938 50.7605C21.2181 50.3058 20.1503 49.6105 19.259 48.7191C18.3676 47.8277 17.6723 46.76 17.2176 45.5842C16.7019 44.2096 16.423 42.7575 16.3926 41.2896C16.3077 39.3989 16.2864 38.7971 16.2864 33.989C16.2864 29.181 16.3077 28.5791 16.3926 26.6885C16.4219 25.2208 16.6996 23.7687 17.214 22.3938C17.6687 21.2171 18.3644 20.1484 19.2564 19.2564C20.1484 18.3644 21.2171 17.6687 22.3938 17.214C23.7687 16.6996 25.2208 16.4219 26.6885 16.3926C28.5791 16.3077 29.181 16.2864 33.989 16.2864C38.7971 16.2864 39.399 16.3077 41.2896 16.3926C42.7573 16.4219 44.2094 16.6996 45.5843 17.214C46.7603 17.6691 47.8283 18.365 48.7197 19.257C49.6111 20.149 50.3062 21.2174 50.7605 22.3938C51.2761 23.7685 51.5551 25.2206 51.5854 26.6885C51.6704 28.5791 51.6917 29.181 51.6917 33.989C51.6917 38.7971 51.6704 39.3954 51.5854 41.286Z" fill="black"/>
            </svg></a>
          <a href="">
            <svg width="68" height="51" viewBox="0 0 68 51" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.63486 50.9969H15.4498V24.7324L0 13.145V46.362C0 48.9267 2.078 50.9969 4.63486 50.9969Z" fill="black"/>
              <path d="M52.5284 50.9969H63.3432C65.9078 50.9969 67.978 48.9189 67.978 46.362V13.145L52.5284 24.7324" fill="black"/>
              <path d="M52.5284 4.64818V24.7328L67.978 13.1454V6.96561C67.978 1.23368 61.4351 -2.03395 56.8543 1.40363" fill="black"/>
              <path d="M15.4485 24.7326V4.64795L33.9882 18.5527L52.5279 4.64795V24.7326L33.9882 38.6374" fill="black"/>
              <path d="M0 6.96561V13.1454L15.4498 24.7328V4.64818L11.1238 1.40363C6.53526 -2.03395 0 1.23368 0 6.96561Z" fill="black"/>
              </svg>
          </a>
          <a href="">
            <svg width="68" height="68" viewBox="0 0 68 68" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M33.9485 0C38.6478 0 43.0636 0.89125 47.1957 2.67375C51.3279 4.45625 54.9334 6.88693 58.0123 9.9658C61.0911 13.0447 63.5218 16.6367 65.3043 20.7418C67.0868 24.847 67.9781 29.2492 67.9781 33.9485C67.9781 38.6478 67.0868 43.0636 65.3043 47.1957C63.5218 51.3279 61.0911 54.9334 58.0123 58.0123C54.9334 61.0911 51.3279 63.5218 47.1957 65.3043C43.0636 67.0868 38.6478 67.9781 33.9485 67.9781C29.2492 67.9781 24.847 67.0868 20.7418 65.3043C16.6367 63.5218 13.0447 61.0911 9.9658 58.0123C6.88693 54.9334 4.45625 51.3279 2.67375 47.1957C0.89125 43.0636 0 38.6478 0 33.9485C0 29.2492 0.89125 24.847 2.67375 20.7418C4.45625 16.6367 6.88693 13.0447 9.9658 9.9658C13.0447 6.88693 16.6367 4.45625 20.7418 2.67375C24.847 0.89125 29.2492 0 33.9485 0ZM46.7501 14.8272H39.5391C38.1347 14.8272 36.8383 15.0702 35.65 15.5564C34.4617 16.0425 33.4219 16.6907 32.5306 17.5009C31.6394 18.3111 30.9507 19.2294 30.4645 20.2557C29.9784 21.282 29.7353 22.3083 29.7353 23.3345V27.6287H23.3345V36.0551H29.7353V53.0699H38.2427V36.0551H44.5625V27.6287H38.2427V25.4411C38.2427 24.793 38.4993 24.2798 39.0124 23.9017C39.5256 23.5236 39.9712 23.3345 40.3493 23.3345H46.7501V14.8272Z" fill="black"/>
            </svg></a>
        </div>
        <div id="footerp"><p>&copy; Nikhil Dalton Films. | All Rights Reserved.</p></div>
      </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
        integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
        integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://unpkg.com/split-type"></script>
    <script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
    <script defer src="https://unpkg.com/swup@4"></script>
    <script defer src="/javascripts/swup.js"></script>
    <script src="/javascripts/contact.js"></script>
</body>
</html>