<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NDF. - Gallery </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/stylesheets/swup.css">
    <link rel="stylesheet" href="/stylesheets/gallery.css">
</head>

<body>
  <!-- <div class="transition"></div> -->
  <!-- <div class="transition-overlay"></div> -->
  <div class="transition-overlap"></div>
        <div id="menu" style="height:100vh;left: 100%;">
            <a class="link" id="crack" href="/" data-cursor="-lg">HOME</a>
            <a class="link" href="/gallery" data-cursor="-lg">GALLERY</a>
            <a class="link" href="/about" data-cursor="-lg">NIKHIL</a>
            <a class="link" href="/contact" data-cursor="-lg">GET IN TOUCH</a>
          </div>
        <div id="nav">
            <div id="navleft">
              <a href="/"><svg width="187" height="70" viewBox="0 0 187 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.76 68V0.139999H18.4L50.71 41.63H50.89V0.139999H68.53V68H50.89L18.58 26.42H18.4V68H0.76ZM73.7373 68V0.139999H98.7573C108.237 0.199998 116.337 3.5 123.057 10.04C129.837 16.58 133.227 24.62 133.227 34.16C133.227 43.7 129.837 51.74 123.057 58.28C116.277 64.76 108.177 68 98.7573 68H73.7373ZM91.3773 15.08V53.06H95.3373C100.617 53.12 105.177 51.65 109.017 48.65C112.917 45.59 114.867 40.76 114.867 34.16C114.867 28.1 113.067 23.42 109.467 20.12C105.867 16.82 101.217 15.17 95.5173 15.17L91.3773 15.08ZM174.083 15.08H152.753V26.42H172.103V41.36H152.753V68H135.113V0.139999H174.083V15.08ZM175.711 48.74C178.651 48.8 181.141 49.85 183.181 51.89C185.221 53.93 186.241 56.42 186.241 59.36C186.241 62.24 185.221 64.7 183.181 66.74C181.141 68.78 178.651 69.8 175.711 69.8C172.771 69.8 170.281 68.78 168.241 66.74C166.201 64.7 165.181 62.24 165.181 59.36C165.181 56.42 166.201 53.93 168.241 51.89C170.281 49.85 172.771 48.83 175.711 48.83V48.74Z"
                    fill="#e5e5e5" />
                </svg>
              </a>
            </div>
            <div id="navright" data-magnetic data-cursor="-md">
              <span id="menubtn" data-cursor-stick="#navright" class="material-symbols-outlined">
                menu
              </span>
            </div>
          </div>
        <div id="main" class="transition-fade">
            <div id="page1">
                <div id="pageheading">
                    <h1 class="my-text">GALLERY</h1>
                </div>
                <div id="circular-scroll">
                    <div id="scroll"><h3>SCROLL</h3><span class="material-symbols-outlined">
                      south
                    </span></div>
                  </div>
            </div>
            <div id="page2">
              <div id="galleryscroll">
                <div class="section sec1">
                    <div class="sectionheading">
                        <span class="whitespace">whitespace</span>
                        <h1>Weddings</h1>
                        <div class="next" id="weddingnext">
                            <h3>BIRTHDAYS</h3><span class="material-symbols-outlined">
                                east
                              </span>
                        </div>
                    </div>
                    <div class="imgdiv swiper mySwiper">
                         <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://wallpapercave.com/wp/wp9167084.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="https://wallpapercave.com/wp/wp9190213.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="https://wallpapercave.com/wp/wp5016668.jpg" alt=""></div>
                          </div>
                          <div class="swiper-button-next" data-cursor-text="NEXT"></div>
                          <div class="swiper-button-prev" data-cursor-text="PREV"></div>
                          <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="section sec2">
                    <div class="sectionheading">
                        <div class="next" id="weddingprev">
                            <span class="material-symbols-outlined">
                                west
                              </span><h3>WEDDINGS</h3>
                        </div>
                        <h1>Birthdays</h1>
                        <div class="next" id="potraitnext">
                            <h3>POTRAITS</h3><span class="material-symbols-outlined">
                                east
                              </span>
                        </div>
                    </div>
                    <div class="imgdiv swiper mySwiper" >
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://images.alphacoders.com/830/thumb-1920-830145.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="https://th.bing.com/th/id/R.5caab07201dd984e0aa466902adbdf03?rik=p0liWV2uL5G1oQ&riu=http%3a%2f%2fwww.trbimg.com%2fimg-59834e63%2fturbine%2fsns-dailymeal-1797548-entertain-apparently-blowing-out-birthday-candles-grosser-you-thought-080317-20170803&ehk=IvcqGP8q8JdFWbR5o%2fGEcWVp4GUnGcKqzm02esBEAj4%3d&risl=&pid=ImgRaw&r=0" alt=""></div>
                            <div class="swiper-slide"><img src="https://c1.wallpaperflare.com/preview/76/460/29/party-celebration-llama-pi%C3%B1ata.jpg" alt=""></div>
                          </div>
                          <div class="swiper-button-next" data-cursor-text="NEXT"></div>
                          <div class="swiper-button-prev" data-cursor-text="PREV"></div>
                          <div class="swiper-pagination"></div>
                        </div>
                    </div>
                
                <div class="section sec3">
                    <div class="sectionheading">
                        <div class="next" id="potraitprev">
                            <span class="material-symbols-outlined">west</span><h3>BIRTHDAYS</h3>
                        </div>
                        <h1>Potraits</h1>
                        <span class="whitespace">whitespace</span>
                    </div>
                    <div class="imgdiv swiper mySwiper">
                         <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="https://wallpapercrafter.com/desktop/201619-man-male-portrait-and-face-hd.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="https://i.ytimg.com/vi/4KIRclYYPnk/maxresdefault.jpg" alt=""></div>
                            <div class="swiper-slide"><img src="https://th.bing.com/th/id/R.c4bb435efd2f0b44faedeac7e1577449?rik=sSYde08SZTjcpA&riu=http%3a%2f%2fwww.wallpaperbetter.com%2fwallpaper%2f787%2f270%2f380%2fportrait-1080P-wallpaper.jpg&ehk=s3v7JprbbTUq6OkhCdrZKw%2bqvoaGAKcaLiBxwi6LUq8%3d&risl=&pid=ImgRaw&r=0" alt=""></div>
                          </div>
                          <div class="swiper-button-next" data-cursor-text="NEXT"></div>
                          <div class="swiper-button-prev" data-cursor-text="PREV"></div>
                          <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
    integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"
    integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/split-type"></script>
<script src="https://unpkg.com/mouse-follower@1/dist/mouse-follower.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script defer src="https://unpkg.com/swup@4"></script>
<script defer src="/javascripts/swup.js"></script>
<script src="/javascripts/gallery.js"></script>
</body>

</html>