@font-face {
  font-family: plain-regular;
  src: url(/fonts/plain-regular-webfont.woff);
}
@font-face {
  font-family: plain-light;
  src: url(/fonts/plain-light-webfont.woff);
}
@font-face {
  font-family: silk-light;
  src: url(/fonts/silkserif-lightitalic-webfont.woff);
}
@font-face {
  font-family: silk-regular;
  src: url(/fonts/silkserif-regularitalic-webfont.woff);
}
.mf-cursor{
  /* transform: scale(3.7); */
  mix-blend-mode: difference;
}
.mf-cursor-text{
  font-family: plain-regular;
  font-size: 1.5vw;
  color: black;
  font-weight: 800;
}
.mf-cursor.-active:before{
  transform: scale(1);
}
.mf-cursor.-md:before {
  transform: scale(1.2);
}

.mf-cursor.-lg:before {
  transform: scale(1.8);
}
.none{
  display: none;
}
*{
  margin: 0;padding: 0;
  box-sizing: border-box;
}
*::selection{
  background-color: #eeeeee;
  color: #151515;
}
html,body{
  height: 100%;
  width: 100%;
}
::-webkit-scrollbar{
  display: none;
}
.transition{
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: black;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
#menu{
    width:100%;
    position: fixed;
    left: 100%;
    z-index: 7;
    padding-left:1vw;
    background-color: black;
    transition:all ease 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #menu a{
    color: white;
    font-family: plain-regular;
    font-size: 6vw;
    font-weight: 700;
    text-decoration: none;
    line-height: 6vw; 
    transition: font-family ease-out 0.5s;
    margin-left: 2vw;
  }
  #menu a:hover{
    color:rgb(200, 201, 203);
    font-family: silk-light;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #eeeeee;
    color: transparent;
  }
  #nav{
    height:10vh;
    width: 100%;
    background-color: transparent;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 7;
    padding: 1vw 1vw;
  }
  #navleft{
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navleft svg{
    scale: 1.2;
    width: 7vw;
  }
  #navleft svg path{
    mix-blend-mode: difference;
  }
  #navright{
    /* padding: 1vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #navright span{
    padding: 0.5vw;
    /* cursor: none; */
    color: white;
  }
#page1{
   height: 100vh;
   width: 100%;
   background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 2vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
#page1 #pageheading{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #pageheading h1{
    font-family: plain-regular;
    color: #eeeeee;
    font-size: 7vw;
    text-align: right;
    padding: 1vw;
  }
  #pageheading h1{
    font-size: 10vw;
    font-family: plain-regular;
    line-height: 9vw;
    /* color: #eeeeee; */
    color:#151515;
    transition:transform ease-in-out 0.5s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .char {
    transform: translateY(100%);
  }
  #circular-scroll{
    height: 10%;
    width: 100%;
  }
  #circular-scroll{
    display:flex;
    justify-content: flex-end;
    align-items: center;
  }

  #scroll{
    width: 20%;
    height: 100%;
    font-family: plain-light;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  #scroll h3,#scroll span{
    color: #eeeeee;
  }

  #page2{
    min-height: 100vh;
    width:100%;
    background-color: #151515;
    position: relative;
    overflow: hidden;
}
.pin-spacer{
    background-color: #151515;
    display: none;
}
#galleryscroll{
    height: 100%;
    width:100%;
    background-color: #eeeeee;
    background-color: #151515;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.section{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    position: absolute;
}
.sectionheading{
    padding: 1vw;
    width: 100%;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    color: #eeeeee;

}
.sectionheading h1{
    font-family: plain-light;
}
.imgdiv{
    width: 80%;
    height: 100%;
    user-select: none;
    background-color: #eeeeee;
}
.next{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    font-family:plain-light ;
    opacity:0;
}
.next:hover{
    cursor: pointer;
}

 .sec2{
    left: 100%;
}
.sec3{
    left:200%
}
.whitespace{
    color: #151515;
    visibility: hidden;
}


.swiper {
    height: 100%;
    width: 100%;
    background-color: #151515;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background-color: #151515; */
      /* background-color: white; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: #151515;
      object-position: center;
    }
    .nextprev{
      background-color: white;
      border-radius: 50%;
      height: 100px;
      width: 100px;
      position: absolute;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: plain-light;
      opacity:0;
      transition:opacity ease-out 0.5s;
    }
    .swiper-button-prev,.swiper-button-next{
        color: #eeeeee;
        padding: 20vw 8vw;
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0%;
    }
    .swiper-pagination{
        display: none;
    }
    .mf-svgsprite{
      transform: scale(0.5);
    }
    #footer{
        min-height: 20vh;
        width: 100%;
        background-color: #151515;
        padding: 1.5vw 2vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      
      #footer #icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2vw;
      }
      #icons svg{
        height: 3vw;
        width: 3vw;
      }
      #icons svg path{
        fill: #eeeeee;
      }
      #icons svg:hover path{
        fill: #e4e4a0;
      }
      
      #footerp{
        text-align: center;
        font-family: plain-regular;
        font-size: 1.5vw;
        color:#eeeeee;
      }